// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: linear-gradient(#05FBFF, #1E00FF);
  background-repeat: no-repeat;
  font-family: 'HanziPen TC',sans-serif;

}


header{
  height: auto;
  width: auto;
  color: WHITE;
  margin: 0px;
}

ul{
  list-style: none;
  float: left;
}
li{
  padding-right: 30px;
  float: left;
}

.fa{
  font-size: 40px !important;
}
