<footer class="footer">
  <div class="introduce">
    <h2>taya(intel)へのアクセス</h2>
    <ul>
      <li>
        <a href="https://twitter.com/tatsuyayamamur1" class="btn twitter">
          <span class="fa fa-twitter"></span>
        </a>
      </li>
      <li>
        <a href="https://github.com/tatsuyaHello" class="btn github">
          <span class="fa fa-github"></span>
        </a>
      </li>
    </ul>
  </div>
</footer>
